<div class="sidebar">
  <div class="sidebar-header">
    <h1>Aline Nink</h1>
    <p>Front End Developer</p>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/about"><i class="fas fa-user icon"></i><span class="menu-text">Sobre Mim</span></a>
      </li>
      <li>
        <a routerLink="/skills"><i class="fas fa-code icon"></i><span class="menu-text">Skills</span></a>
      </li>
      <li>
        <a routerLink="/projects"><i class="fas fa-project-diagram icon"></i><span class="menu-text">Projetos</span></a>
      </li>
      <li>
        <a routerLink="/contact"><i class="fas fa-envelope icon"></i><span class="menu-text">Contato</span></a>
      </li>
    </ul>
  </nav>
</div>

<main>
  <router-outlet></router-outlet>
</main>
