/* Estilo Customizado para o Card do Bootstrap */
.custom-card {
  background-color: #1e1e1e; /* Fundo do card */
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Sombreamento leve para a direita */
  border: none; /* Remove a borda padrão do Bootstrap */
  margin: 20px 0;
  color: #dddddd;
  transition: transform 0.3s, box-shadow 0.3s; /* Animações para hover */
}

.custom-card .card-title {
  color: #3498db; /* Cor do título */
  font-size: 1.5em;
  margin-bottom: 15px;
}

.custom-card .card-text {
  color: #dddddd; /* Cor do texto */
}

.custom-card .btn-primary {
  background-color: #1abc9c; /* Cor do botão */
  border-color: #1abc9c;
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s; /* Animações para hover */
}

.custom-card .btn-primary:hover {
  background-color: #16a085; /* Cor do botão ao passar o mouse */
  border-color: #16a085;
  transform: scale(1.05);
}

/* Estilo para a Section */
.section {
  padding: 20px;
  background-color: #1e1e1e; /* Fundo da section */
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Sombreamento leve para a direita */
  width: calc(50% - 40px); /* Ocupa metade da tela menos a margem */
  box-sizing: border-box;
}

.section h2 {
  color: #3498db; /* Cor do título da section */
  margin-bottom: 20px;
}

.section p {
  color: #dddddd; /* Cor do texto da section */
  margin-bottom: 20px;
}

/* Sidebar Styles */
.sidebar {
  background: rgba(52, 152, 219, 0.8); /* Ajuste na cor da sidebar */
  padding: 20px;
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 20px 20px 0;
  transition: width 0.3s;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.sidebar:hover {
  width: 250px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar:hover .sidebar-header {
  opacity: 1;
  margin-top: auto; /* Move o cabeçalho para o final quando expandido */
}

.sidebar h1,
.sidebar p {
  margin: 0;
  color: white;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

.sidebar nav ul li {
  margin: 20px 0;
  text-align: center;
  transition: margin 0.3s;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  aria-label: "Navigation link";
}

.sidebar nav ul li a .icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.sidebar nav ul li a .menu-text {
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 10px;
}

.sidebar:hover nav ul li a .menu-text {
  opacity: 1;
}

.sidebar nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar:hover h1,
.sidebar:hover p {
  opacity: 1;
}

/* Main Content Styles */
.main {
  margin-left: 100px;
  padding: 20px;
  transition: margin-left 0.3s, width 0.3s;
  display: flex;
  flex-wrap: wrap; /* Permite que os cards se ajustem e quebrem linha se necessário */
  justify-content: space-between; /* Espaço entre os cards */
}

.sidebar:hover ~ .main {
  margin-left: 270px;
  width: calc(100% - 270px);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar:hover {
    width: 200px;
  }

  .sidebar:hover ~ .main {
    margin-left: 210px;
    width: calc(100% - 210px);
  }

  .main {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .section {
    width: calc(100% - 40px); /* Ocupa toda a tela em dispositivos menores */
  }
}

/* Body Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  display: flex;
}

/* Skill Bar Styles */
.skill-bar {
  width: 90%;
  background: linear-gradient(to right, #3498db, #e67e22); /* Gradiente de cores primárias e secundárias */
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: width 0.5s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Sombreamento leve para a direita */
}
.skill {
  margin-bottom: 15px;
}
